body {
    color: white;
    background-image: url("images/univers.jpg");
    background-size: cover;
    text-align: center;
    font-size: 34px;
    font-family: 'Space Mono', monospace;
}



.btn {
    margin: 10px 10px;
    padding: 10px 21px;
    background: white;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    font-size: 21px;
    font-family: inherit;
}

.btn:hover {
    background-color: rgba(193, 174, 174, 0.5);
    transition: 0.5s ease-in-out
}